@import url("https://fonts.googleapis.com/css?family=Catamaran:900&display=swap");
html{
    height:75%; /*Consultar*/
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

header{
    display:block;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:black;
    padding: 10px;
    border-bottom: double 0.3em white;
    height:2em;
    z-index: 1000;
}

nav{
    padding-top:0.4em;
    /* position:absolute; */
}

#mov1{
    width:3.7em;
    left:3.2em;
}
#mov2{
    width:5.7em;
    left:9.9em;
}
#mov3{
    width:5.77em;
    left:18.7em;
}
.mov{
    position:absolute;
    height:0.3em;
    background:white;
    bottom:0.5em;
    pointer-events: none;
    transition: all 1s ease;
    width:3.7em;
    left:3.2em;
}

/* body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
} */

/* header{
    display:block;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:black;
    padding: 10px;
    border-bottom: double 0.3em white;
    height:2em;
} */


nav a:visited,
nav a:link{
    font-family: "Catamaran", sans-serif;
    font-size: 1.2em;
    color: black;
    transition: all 1s ease;
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
    text-decoration:none;
    letter-spacing:0.05em;
    margin-left: 2em;
}

.inicio:hover{
    color: white;
}
.inicio:hover ~ #mov1{
    transform: translateY(-1.8em);
}

.catalogo:hover{
    color: white;
}
.catalogo:hover ~ #mov2{
    transform: translateY(-1.8em);
}

.contacto:hover{
    color: white;
}
.contacto:hover ~ #mov3{
    transform: translateY(-1.8em);
}

nav > ul{
    display: inline;
    padding:0;
}

nav>ul>li{
    display:inline-block;
    list-style: none;
    margin:0 5px 0 5px;
}

/* main{
    display: block;
    background-image: url(images/fondoSa.jpg);
    background-size: cover; CUBRE TODA LA PANTALLA (TODO EL VIEWPORT)
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 85%;
    max-height: 100%;
} */

aside,article{
    padding:2em;
}

aside{
    display: inline-block;
    text-align: center;
    height:100vh;
}
aside + h1{
    display: inline-block;
    text-align: center;
}
h1 + article{
    display: flex;
    
}

article{
    width: 75%;
}

h1{
    font-size: 3em;
    margin-top: 0.5em;
    color: white;
}


/* footer{
    padding:15px;
    
} */

/* aside,article{
    padding:2em;
}

aside{
    text-align: center;
}

article{
    width: 75%;
} */

/* @media only screen and (min-width: 768px){
    main{
        display:flex;
    }
    aside{
        margin-left: 2%;
    }
} */

/* h1{
    font-size: 3em;
    margin-top: 0.5em;
    color: white;
} */

/* .logo{
    max-width: 100%;
    max-height: 100%;
    border: solid 1em black;
    border-radius: 50%;
} */

footer{
    padding:15px;
    
}

footer > div{
    /* display: inline-block; */
    position: relative;
    width: 40em;
    height:2em;
    top: 0.5em;
    right:0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    
    
}
footer > div > p{
    display: inline-block;
    /* left:10em; */
}

.redes{
    display: inline-block;
    position: absolute;
    width:10em;
    height:1.5em;
    right: 0.5em;
}
footer > div > div > a{
    position: absolute;
    height: 1.8em;
    width: 1.8em;
    /* left: 0; */
}
.github{
    left: 3em;
    
}
.facebook{
    left: 6em;
    
}

.instagram{
    left: 9em;
    
}


.font{
    height:1em;
    width:1em;
}
